In [1]:
import pandas as pd

In [2]:
df_caged = pd.read_csv("../data/CAGEDMOV202412.txt", sep=";", encoding="utf-8")

In [3]:
df_caged.head()

,competênciamov,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,origemdainformação,competênciadec,indicadordeforadoprazo,unidadesaláriocódigo,valorsaláriofixo
0,202412,3,32,320130,N,8129000,1,783225,101,5,...,0,0,"1469,60",5,0,1,202412,0,1,"6,68"
1,202412,3,33,330455,M,7112000,1,312105,101,7,...,0,0,"3000,00",6,0,1,202412,0,5,"3000,00"
2,202412,3,33,330170,C,1220401,-1,514320,101,5,...,0,0,"1588,52",7,0,1,202412,0,5,"1588,52"
3,202412,3,35,354520,G,4753900,-1,414110,101,5,...,0,0,"3790,75",10,0,1,202412,0,1,"17,27"
4,202412,4,41,410640,N,8121400,1,514320,101,7,...,0,0,"1260,42",10,0,1,202412,0,5,"1260,42"

In [4]:
df_caged.columns

Index(['competênciamov', 'região', 'uf', 'município', 'seção', 'subclasse',
       'saldomovimentação', 'cbo2002ocupação', 'categoria', 'graudeinstrução',
       'idade', 'horascontratuais', 'raçacor', 'sexo', 'tipoempregador',
       'tipoestabelecimento', 'tipomovimentação', 'tipodedeficiência',
       'indtrabintermitente', 'indtrabparcial', 'salário', 'tamestabjan',
       'indicadoraprendiz', 'origemdainformação', 'competênciadec',
       'indicadordeforadoprazo', 'unidadesaláriocódigo', 'valorsaláriofixo'],
      dtype='object')

In [5]:
df_caged['tipoempregador']

0          0
1          0
2          0
3          0
4          0
          ..
3584044    0
3584045    0
3584046    0
3584047    0
3584048    0
Name: tipoempregador, Length: 3584049, dtype: int64

In [6]:
df_caged['tipoestabelecimento']

0          1
1          1
2          1
3          1
4          1
          ..
3584044    1
3584045    1
3584046    1
3584047    1
3584048    1
Name: tipoestabelecimento, Length: 3584049, dtype: int64

In [10]:
df_caged['tipomovimentação']

0          97
1          97
2          31
3          31
4          97
           ..
3584044    60
3584045    97
3584046    43
3584047    32
3584048    97
Name: tipomovimentação, Length: 3584049, dtype: int64

In [7]:
df_dic = pd.read_csv('../data/br_me_caged_dicionario.csv', sep=',')

In [13]:
df_dic[df_dic['nome_coluna'] == 'tipo_movimentacao']

,id_tabela,nome_coluna,chave,cobertura_temporal,valor
4958,microdados_movimentacao,tipo_movimentacao,33,2020(1)2021,Culpa Recíproca
4959,microdados_movimentacao,tipo_movimentacao,99,2020(1)2021,Não Identificado
4960,microdados_movimentacao,tipo_movimentacao,40,2020(1)2021,Desligamento A Pedido
4961,microdados_movimentacao,tipo_movimentacao,60,2020(1)2021,Desligamento Por Morte
4962,microdados_movimentacao,tipo_movimentacao,20,2020(1)2021,Admissão Por Reemprego
4963,microdados_movimentacao,tipo_movimentacao,35,2020(1)2021,Admissão Por Reintegração
4964,microdados_movimentacao,tipo_movimentacao,70,2020(1)2021,Admissão Por Transferência
4965,microdados_movimentacao,tipo_movimentacao,98,2020(1)2021,Desligamento De Tipo Ignorado
4966,microdados_movimentacao,tipo_movimentacao,10,2020(1)2021,Admissão Por Primeiro Emprego
4967,microdados_movimentacao,tipo_movimentacao,50,2020(1)2021,Desligamento Por Aposentadoria
4968,microdados_movimentacao,tipo_movimentacao,80,2020(1)2021,Desligamento Por Transferência
4969,microdados_movimentacao,tipo_movimentacao,45,2020(1)2021,Desligamento Por Término De Contrato
4970,microdados_movimentacao,tipo_movimentacao,32,2020(1)2021,Desligamento Por Demissão Com Justa Causa
4971,microdados_movimentacao,tipo_movimentacao,31,2020(1)2021,Desligamento Por Demissão Sem Justa Causa
4972,microdados_movimentacao,tipo_movimentacao,43,2020(1)2021,Término Contrato Trabalho Prazo Determinado
4973,microdados_movimentacao,tipo_movimentacao,25,2020(1)2021,Admissão Por Contrato Trabalho Prazo Determinado
4974,microdados_movimentacao,tipo_movimentacao,90,2020(1)2021,Desligamento Por Acordo Entre Empregado E Empr...